#s-20bbe3a5-91e3-49b3-8507-e75fb52d0922 > #backgroundBox {
  background-color: #000000;
  position: absolute;
}
#s-20bbe3a5-91e3-49b3-8507-e75fb52d0922 > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 760.0px;
  width: 100%;
  height: 100%;
}
#s-20bbe3a5-91e3-49b3-8507-e75fb52d0922 #s-Button_1 {
  position: absolute;
  width: 107.0px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px 2.0px 2.5px #999999);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium',Arial;
}
_:-ms-fullscreen, :root #s-20bbe3a5-91e3-49b3-8507-e75fb52d0922 #s-Button_1 {
  box-shadow: -0.0px 2.0px 5px 0px #999999;
}
#s-20bbe3a5-91e3-49b3-8507-e75fb52d0922 #s-Button_1 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-20bbe3a5-91e3-49b3-8507-e75fb52d0922 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #6200EE;
}
#s-20bbe3a5-91e3-49b3-8507-e75fb52d0922 #s-Button_1 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
}
#s-20bbe3a5-91e3-49b3-8507-e75fb52d0922 #s-Button_1 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-20bbe3a5-91e3-49b3-8507-e75fb52d0922 #s-Button_1 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}
#s-20bbe3a5-91e3-49b3-8507-e75fb52d0922 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-20bbe3a5-91e3-49b3-8507-e75fb52d0922 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}
#s-20bbe3a5-91e3-49b3-8507-e75fb52d0922 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}
#s-20bbe3a5-91e3-49b3-8507-e75fb52d0922 #s-Button_2 {
  position: absolute;
  width: 107.0px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px 2.0px 2.5px #999999);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium',Arial;
}
_:-ms-fullscreen, :root #s-20bbe3a5-91e3-49b3-8507-e75fb52d0922 #s-Button_2 {
  box-shadow: -0.0px 2.0px 5px 0px #999999;
}
#s-20bbe3a5-91e3-49b3-8507-e75fb52d0922 #s-Button_2 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-20bbe3a5-91e3-49b3-8507-e75fb52d0922 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #6200EE;
}
#s-20bbe3a5-91e3-49b3-8507-e75fb52d0922 #s-Button_2 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
}
#s-20bbe3a5-91e3-49b3-8507-e75fb52d0922 #s-Button_2 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-20bbe3a5-91e3-49b3-8507-e75fb52d0922 #s-Button_2 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}
#s-20bbe3a5-91e3-49b3-8507-e75fb52d0922 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-20bbe3a5-91e3-49b3-8507-e75fb52d0922 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}
#s-20bbe3a5-91e3-49b3-8507-e75fb52d0922 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}
#s-20bbe3a5-91e3-49b3-8507-e75fb52d0922 #s-Paragraph_1 {
  position: absolute;
  width: 245.0px;
  min-height: 165.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-20bbe3a5-91e3-49b3-8507-e75fb52d0922 #s-Paragraph_1 {
  box-shadow: none;
}
#s-20bbe3a5-91e3-49b3-8507-e75fb52d0922 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-20bbe3a5-91e3-49b3-8507-e75fb52d0922 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-20bbe3a5-91e3-49b3-8507-e75fb52d0922 #s-Paragraph_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-20bbe3a5-91e3-49b3-8507-e75fb52d0922 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-20bbe3a5-91e3-49b3-8507-e75fb52d0922 #s-Image_1 {
  position: absolute;
  width: 137.09374999999994px;
  height: 127.28124999999989px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-20bbe3a5-91e3-49b3-8507-e75fb52d0922 #s-Image_1 {
  box-shadow: none;
}
#s-20bbe3a5-91e3-49b3-8507-e75fb52d0922 #s-Image_2 {
  position: absolute;
  width: 155.0px;
  height: 127.28124999999989px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-20bbe3a5-91e3-49b3-8507-e75fb52d0922 #s-Image_2 {
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-20bbe3a5-91e3-49b3-8507-e75fb52d0922 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}