#s-335c9526-e6fe-4289-999a-bc5a45188f86 > #backgroundBox {
  background-color: #000000;
  position: absolute;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 760.0px;
  width: 100%;
  height: 100%;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_1 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_1 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_1 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_1 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_1 {
  position: absolute;
  width: 345.0px;
  height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_1 {
  box-shadow: none;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_1 .valign {
  vertical-align: middle;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_1 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_1 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_1 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_1 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 6px;
  padding-bottom: 1px;
  padding-left: 11px;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_2 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_2 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_2 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_2 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_2 {
  position: absolute;
  width: 345.0px;
  height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_2 {
  box-shadow: none;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_2 .valign {
  vertical-align: middle;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_2 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_2 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_2 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_2 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_2 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 6px;
  padding-bottom: 1px;
  padding-left: 11px;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Paragraph_1 {
  position: absolute;
  width: 141.00000000000028px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Paragraph_1 {
  box-shadow: none;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Paragraph_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Image_1 {
  position: absolute;
  width: 67.99999999999986px;
  height: 69.00000000000011px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Image_1 {
  box-shadow: none;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Image_2 {
  position: absolute;
  width: 67.99999999999994px;
  height: 69.00000000000011px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Image_2 {
  box-shadow: none;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Image_3 {
  position: absolute;
  width: 67.99999999999997px;
  height: 69.00000000000011px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Image_3 {
  box-shadow: none;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Button_1 {
  position: absolute;
  width: 106.99999999999983px;
  min-height: 36.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px 2.0px 2.5px #999999);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium',Arial;
}
_:-ms-fullscreen, :root #s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Button_1 {
  box-shadow: -0.0px 2.0px 5px 0px #999999;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Button_1 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #6200EE;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Button_1 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Button_1 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Button_1 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_3 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_3 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_3 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_3 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_3 {
  position: absolute;
  width: 345.0px;
  height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_3 {
  box-shadow: none;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_3 .valign {
  vertical-align: middle;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_3 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_3 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_3 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_3 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_3 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 6px;
  padding-bottom: 1px;
  padding-left: 11px;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_4 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_4 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_4 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_4 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_4 {
  position: absolute;
  width: 344.9999999999997px;
  height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_4 {
  box-shadow: none;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_4 .valign {
  vertical-align: middle;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_4 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_4 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_4 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_4 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 #s-Input_4 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 6px;
  padding-bottom: 1px;
  padding-left: 11px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-335c9526-e6fe-4289-999a-bc5a45188f86 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}